@import "bourbon"
@import "icon.sass"
@import "mixins"

$color: #CE2C1B
$font: 'Roboto', sans-serif

html
	box-sizing: border-box

*,
*::after,
*::before
	box-sizing: inherit
	outline: none

@include placeholder()
  color: #eee

body
	margin: 0	
	overflow-x: hidden
	font-family: $font
	line-height: 1.4
	font-size: 14px
	background-color: #282828
	text-size-adjust: 100%
	-webkit-tap-highlight-color: transparent

img
	max-width: 100%	
	border: none	
	outline: none	

a
	border: none	
	outline: none	

ul
	list-style-type: none	
	margin: 0	
	padding: 0

select::-ms-expand
	display: none

select
	appearance: none

button,
input,
textarea,
select
	font-family: $font

%container
	width: 100%
	max-width: 1300px	
	padding: 0 15px
	margin: 0 auto

%grid
	display: table
	width: 100%
	table-layout: fixed

%part
	display: table-cell
	vertical-align: top

.container
	@extend %container

.page
	overflow-x: hidden

.nav
	position: fixed
	z-index: 2
	right: 70px
	top: 0
	bottom: 0
	display: flex
	flex-direction: column
	justify-content: center
	text-align: right
	padding: 5% 0
	&__btn
		display: none
	&__logo
		position: relative
		right: 1px
	&__list
		margin: 80px 0
		position: relative
		top: -6px
		&::after
			content: ''
			position: absolute
			width: 1px
			background-color: #fff
			bottom: 100%
			margin-bottom: -3px
			right: 15px
			height: 83px
		li
			padding-right: 40px
			position: relative
			z-index: 1
			&::after,
			&::before
				content: ''
				position: absolute
				transition: transform .7s ease-out, bottom .7s ease-out, height .7s ease-out, background-color 0s ease-out
			&::after
				top: 3px
				right: 7px
				width: 18px
				height: 18px
				border: 1px solid #fff
				border-radius: 50%
			&:hover
				&::after
					transform: scale(1.7)
					background-color: #4D5455
				&::before
					bottom: 26px
					height: 61px
				&+li::before
					height: 61px
		li+li
			margin-top: 60px
			&::before
				width: 1px
				background-color: #fff
				bottom: 21px
				right: 15px
				height: 66px
		a
			text-decoration: none
			text-transform: uppercase
			font-weight: 100
			color: #fff
			font-size: 20px
			line-height: 24px
			position: relative
			padding-bottom: 5px
			&::after,
			&::before
				content: ''
				position: absolute
				z-index: 2
			&::after
				right: 0
				bottom: 0
				width: 0
				opacity: 0
				height: 1px
				background-color: #fff
				transition: width .7s ease-out
			&::before
				width: 8px
				height: 8px
				border-radius: 50%
				background-color: $color
				right: -28px
				top: 8px
				transition: transform .2s ease-out
				transform: scale(0)
			&:hover
				&::after
					width: 100%
					opacity: 1
				&::before
					transform: scale(1)
				



.hero
	height: 100vh
	position: relative
	&__inner
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		height: 100%
		position: relative
		z-index: 1
		padding: 0 240px
	&__bg
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-image: url(../img/hero-bg.jpg)
		background-size: cover
		background-position: 50% 50%
		&::after
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: #000
			opacity: 0.5
	&__title
		margin: 30px auto 40px
		font-size: 60px
		color: #fff
		text-transform: uppercase
		border-bottom: 3px solid $color
		text-align: center
	&__btn
		min-width: 320px
	&__logo
		position: relative
		svg
			max-width: 100%
		&::after
			content: ''
			width: 540px
			height: 540px
			position: absolute
			z-index: -1
			top: 50%
			left: 50%
			transform: translate3d(-50%,-50%,0)
			background: transparent radial-gradient(closest-side at 50% 50%, #000000 0%, #00000000 94%) 0% 0% no-repeat padding-box
			opacity: 0.7

.btn
	display: inline-block
	padding: 20px 30px
	background-color: $color
	color: #fff
	cursor: pointer
	font-weight: 900
	font-size: 20px
	line-height: 24px
	text-transform: uppercase
	border: none
	transition: all .2s ease-out
	text-align: center
	max-width: 250px
	&:hover
		color: $color
		background-color: #fff

.phone
	display: inline-block
	padding: 20px 30px
	background-color: transparent
	font-weight: 100
	color: #fff
	cursor: pointer
	font-size: 20px
	line-height: 24px
	text-transform: uppercase
	border: 1px solid $color
	transition: all .2s ease-out
	min-width: 240px
	text-align: center
	&:hover
		background-color: $color




//ALWAYS END
@import "media"
