@import "bourbon"
@import "icon.sass"
@import "mixins"

$color: #CE2C1B
$font: 'Roboto', sans-serif

html
	box-sizing: border-box

*,
*::after,
*::before
	box-sizing: inherit
	outline: none

@include placeholder()
  color: #757575

body
	margin: 0	
	overflow-x: hidden
	font-family: $font
	line-height: 1.4
	font-size: 14px
	background-color: #282828
	text-size-adjust: 100%
	-webkit-tap-highlight-color: transparent

img
	max-width: 100%	
	border: none	
	outline: none	

a
	border: none	
	outline: none	

ul
	list-style-type: none	
	margin: 0	
	padding: 0

select::-ms-expand
	display: none

select
	appearance: none

button,
input,
textarea,
select
	font-family: $font

%container
	width: 100%
	max-width: 1300px	
	padding: 0 15px
	margin: 0 auto

%grid
	display: table
	width: 100%
	table-layout: fixed

%part
	display: table-cell
	vertical-align: top

.container
	@extend %container

.page
	overflow-x: hidden

.nav
	position: fixed
	z-index: 4
	right: 70px
	top: 0
	bottom: 0
	display: flex
	flex-direction: column
	justify-content: center
	text-align: right
	padding: 5% 0
	&__btn
		display: none
	&__logo
		position: relative
		right: 1px
	&__list
		margin: 80px 0
		position: relative
		top: -6px
		&::after
			content: ''
			position: absolute
			width: 1px
			background-color: #fff
			bottom: 100%
			margin-bottom: -3px
			right: 15px
			height: 83px
		li
			padding-right: 40px
			position: relative
			&::after,
			&::before
				content: ''
				position: absolute
				transition: transform .2s ease-out, bottom .2s ease-out, height .2s ease-out, background-color .2s ease-out
			&::after
				top: 3px
				right: 7px
				width: 18px
				height: 18px
				border: 1px solid #fff
				border-radius: 50%
				z-index: 2
			&:hover,
			&.active
				&::after
					transform: scale(1.7)
					background-color: #4D5455
				&::before
					bottom: 26px
					height: 61px
				&+li::before
					height: 61px
				a
					&::after
						width: 100%
						opacity: 1
					&::before
						transform: scale(1)
		li+li
			margin-top: 60px
			&::before
				width: 1px
				background-color: #fff
				bottom: 21px
				right: 15px
				height: 66px
		a
			text-decoration: none
			text-transform: uppercase
			font-weight: 100
			color: #fff
			font-size: 20px
			line-height: 24px
			position: relative
			padding-bottom: 5px
			cursor: pointer
			&::after,
			&::before
				content: ''
				position: absolute
				z-index: 3
			&::after
				right: 0
				bottom: 0
				width: 0
				opacity: 0
				height: 1px
				background-color: #fff
				transition: width .3s ease-out
			&::before
				width: 8px
				height: 8px
				border-radius: 50%
				background-color: $color
				right: -28px
				top: 8px
				transition: transform .2s ease-out
				transform: scale(0)
				
.hero
	height: 100vh
	position: relative
	overflow: hidden
	&::after
		content: ''
		position: absolute
		z-index: 2
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: #000
		opacity: 0.5
	&__inner
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		height: 100%
		position: relative
		z-index: 3
		padding: 0 240px
	&__bg
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-image: url(../img/hero-bg.jpg)
		background-size: cover
		background-position: 50% 50%
	&__video
		position: absolute
		z-index: 1
		right: 50%
		bottom: 50%
		min-width: 100%
		min-height: 100%
		transform: translate(50%, 50%)
	&__title
		margin: 30px auto 40px
		font-size: 60px
		color: #fff
		text-transform: uppercase
		border-bottom: 3px solid $color
		text-align: center
	&__btn
		min-width: 320px
	&__logo
		position: relative
		svg
			max-width: 100%
		&::after
			content: ''
			width: 540px
			height: 540px
			position: absolute
			z-index: -1
			top: 50%
			left: 50%
			transform: translate3d(-50%,-50%,0)
			background: transparent radial-gradient(closest-side at 50% 50%, #000000 0%, #00000000 94%) 0% 0% no-repeat padding-box
			opacity: 0.7

.btn
	display: inline-block
	padding: 20px 30px
	background-color: $color
	color: #fff
	cursor: pointer
	font-weight: 900
	font-size: 20px
	line-height: 24px
	text-transform: uppercase
	border: none
	transition: all .2s ease-out
	text-align: center
	max-width: 250px
	appearance: none
	&:hover
		color: $color
		background-color: #fff

.phone
	display: inline-block
	padding: 20px 30px
	background-color: transparent
	font-weight: 100
	color: #fff
	cursor: pointer
	font-size: 20px
	line-height: 24px
	text-transform: uppercase
	border: 1px solid $color
	transition: all .2s ease-out
	min-width: 240px
	text-align: center
	appearance: none
	&:hover
		background-color: $color

section h2
	font-size: 55px
	line-height: 65px
	color: #fff
	border-bottom: 3px solid $color
	display: inline-block
	text-transform: uppercase
	margin: 0 0 80px

.why
	background-color: #333333
	padding: 90px 0
	background-image: url(../img/why-bg.png)
	background-repeat: no-repeat
	background-position: 0 100%
	&__inner
		padding-left: 400px
		position: relative
	&__title
		position: absolute
		left: 0
		top: 0
	&__list
		padding-top: 16px
	&__item
		position: relative
		padding-left: 75px
		min-height: 75px
		max-width: 760px
		&+&
			margin-top: 60px
		&-icon
			width: 55px
			height: 100px
			background-size: 50px
			background-position: 50% 0
			background-repeat: no-repeat
			position: absolute
			top: -15px
			left: 0
		&-text
			font-size: 25px
			line-height: 33px
			margin: 0
			color: #fff
			strong,
			b
				font-size: 50px


.clients
	padding: 90px 0
	background-image: url(../img/clients-bg.png)
	background-repeat: no-repeat
	background-position: 50% 50%
	background-size: cover
	&__inner
	&__list
		margin: -30px
		li
			display: inline-block
			vertical-align: middle
			margin: 30px

.projects
	padding: 90px 0
	background-image: url(../img/projects-bg.png)
	background-repeat: no-repeat
	background-position: right top
	&__list
		overflow: hidden
		margin-right: -80px
		max-width: 1350px
	&__item
		width: calc(33.333333% - 80px)
		margin-right: 80px
		margin-bottom: 80px
		float: left
		opacity: .5
		&:hover
			opacity: 1
	&__nav
		text-align: center
	&__all,
	&__prev,
	&__next
		line-height: 1
		padding: 0
		border: none
		display: inline-block
		vertical-align: middle
		background-color:  transparent
		cursor: pointer
	&__prev,
	&__next
		width: 40px
		height: 40px
		background-size: cover
		background-image: url(../img/nav-icon.png)
		background-position: 50% 50%
		transition: all .2s ease
		opacity: .3
		&.slick-disabled
			opacity: 0 !important
		&:hover
			transform: scale(1.1)
			opacity: 1
	&__prev
		transform: scale(-1,1)
		&:hover
			transform: scale(-1.1,1.1)
	&__all
		font-size: 18px
		color: #fff
		text-transform: uppercase
		margin: 0 25px
		padding-bottom: 5px
		border-bottom: 1px solid #fff

.project
	&.playing
		opacity: 1 !important
		.project__poster,
		.project__play
			display: none

	&__video
		position: relative
		height: 210px
		margin-bottom: 25px
		overflow: hidden
		&:hover
			.project__poster
				transform: scale(1.1)
		&.loading
			.project__play
				background-size: 50%
				background-image: url(../img/loading.gif)
	&__frame
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	&__frame,
	&__poster
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	&__frame
		background-color: #000
	&__poster
		background-size: cover
		background-position: 50% 50%
		z-index: 1
		transition: transform .2s ease
	&__play
		position: absolute
		z-index: 2
		width: 90px
		height: 90px
		top: 50%
		left: 50%
		margin-top: -40px
		margin-left: -40px
		cursor: pointer
		border-radius: 50%
		background-image: url(../img/play-icon.png)
		background-size: cover
		background-repeat: no-repeat
		background-position: 50% 50%
		line-height: 0
		border: none
		background-color: transparent
		transition: transform .2s ease
		&:hover
			transform: scale(1.1)
	&__caption
		font-size: 30px
		line-height: 36px
		font-weight: 700
		color: #fff
		margin: 0
		padding-bottom: 8px
		border-bottom: 1px solid #fff
		span
			font-weight: 100
			font-size: 20px
			display: inline-block
			margin-left: 3px
	&__description
		margin: 15px 0 0
		font-size: 17px
		line-height: 24px
		font-weight: 100
		color: #fff

.pricelist
	padding: 90px 0
	background-color:  #333333
	background-image: url(../img/pricelist-bg.png)
	background-repeat: no-repeat
	background-position: 50% 100%
	&__item
		color: #fff
		&+&
			margin-top: 35px
		&-caption
			display: inline-block
			padding-bottom: 5px
			border-bottom: 2px solid #fff
			text-transform: uppercase
			line-height: 1.2
			font-weight: 700
			margin-bottom: 15px
		&-icon,
		&-name,
		&-price
			display: inline-block
			vertical-align: baseline
		&-icon
			max-width: 110px
			max-height: 95px
			margin-right: 10px
		&-name
			font-size: 40px
		&-price
			font-size: 30px
			font-weight: 700
			margin-left: 10px
		&-description
			margin: 0
			font-size: 20px
			line-height: 1.4
			font-weight: 100
	&__disclamer
		font-weight: 700
		text-transform: uppercase
		color: #A0A0A0
		font-size: 20px
		line-height: 24px
		margin: 60px 0 0
		strong
			color: $color



.contacts
	padding: 90px 0
	background-color:  #212121
	background-image: url(../img/contacts-bg.png)
	background-repeat: no-repeat
	background-position: 90% 100%
	background-size: contain
	&__tail
		display: flex
		align-items: flex-start
		justify-content: space-between
		padding-right: 120px
	&__right
		margin-left: 80px
		width: calc(100% - 410px)
	&__phone
		color: #fff
		font-weight: 700
		font-size: 40px
		line-height: 1
		text-decoration: none
		display: block
		white-space: nowrap
		margin-bottom: 12px
	&__email
		color: #fff
		font-size: 20px
		line-height: 1
		text-decoration: none
		font-weight: 100
	&__socials
		margin-top: 40px
		color: #fff
		font-size: 43px


.socials
	&__item
		color: inherit
		text-decoration: none
		opacity: 0.5
		transition: all .2s ease
		display: inline-block
		vertical-align: middle
		&+&
			margin-left: 30px
		&::before
			@extend %icon
		&--vk
			&::before
				content: '\e900'
			&:hover
				color: #4A76A8
		&--instagram
			font-size: 0.65em
			position: relative
			top: -1px
			&::before
				content: '\e901'
			&:hover
				color: #C331A3
		&--youtube
			&::before
				content: '\e902'
			&:hover
				color: #FF0000
		&--vimeo
			font-size: 0.67em
			position: relative
			top: -1px
			&::before
				content: '\e903'
			&:hover
				color: #2CA6DC
		&:hover
			opacity: 1

.form
	display: flex
	flex-direction: column
	align-items: stretch
	&__title
		font-size: 40px
		text-transform: uppercase
		color: #ffffff
		margin: 0 0 30px
		line-height: 1
	&__field
		border: none
		font-size: 20px
		line-height: 1
		padding: 10px
		color:  #3D3D3D
		font-weight: 100
		appearance: none
		border-bottom: 1px solid #9F9F9F
		appearance: none
	&__error
		margin: 0
		background-color: #ffcaca
		padding: 5px 10px
	&__submit
		align-self: flex-end
		min-width: 245px
		max-width: none
		appearance: none
	&__result
		margin-top: 20px
		padding: 5px 10px
		text-align: center
		background-color: #fff6a9
		&.success
			background-color: #7dff83

.footer
	padding: 15px 0
	text-align: center
	color: #fff
	background-color: $color
	&__logo,
	&__slogan
		display: inline-block
		vertical-align: middle
	&__slogan
		font-size: 20px
		line-height: 1
		font-weight: 100
		margin-left: 40px

//ALWAYS END
@import "media"
